<!--Creates the HTML page for Extra Resources-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
<link href="style.css" rel="stylesheet" type="text/css"/>
<h1>Extra Resources</h1>
<h2 class = "ExtraHeading" >All Grades</h2>
<!--Creates links to the extra help resources for all subjects-->
<a class ="Extra"  href = "https://cemc.uwaterloo.ca/resources/courseware/courseware.html">Waterloo Courseware</a>
<br>
<a class = "Extra"  href = "https://www.jensenmath.ca/">Jensen Math</a>
<br>
<h2 class = "ExtraHeading">Algebra</h2>
<!--Creates links to the extra help resources for algebra-->
<a class ="Extra"  href = "https://www.khanacademy.org/math/algebra">Khan Academy</a>
<br>
<a class = "Extra"  href = "https://www.khanacademy.org/math/algebra2">Khan Academy</a>
<br>
<h2 class = "ExtraHeading">Trigonometry</h2>
<!--Creates links to the extra help resources for algebra-->  
<a class ="Extra"  href = "https://www.khanacademy.org/math/trigonometry">Khan Academy</a> 
<br>
<h2 class = "ExtraHeading">Geometry</h2>
<!--Creates links to the extra help resources for geometry-->  
<a class ="Extra"  href = "https://www.khanacademy.org/math/geometry">Khan Academy</a> 
<br>
</html>