<!--Creates the HTML page for Grade 12-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<h1>Grade 12</h1>
<!--Creates a link to the Exponential and Logarithmic Functions page-->
<a class ='subject'  href ="/ExponentialandLogarithmic">Exponential and Logarithmic Functions</a>
<br>
<!--Creates a link to the grade 12 Trigonometric Functions page-->
<a class ='subject'  href = "/Trigonmetric12">Trigonometric Functions</a>
<br>
<!--Creates a link to the Polynomial and Rational Functions page-->
<a class ='subject'  href = "/PolynomialAndRationalFunctions">Polynomial and Rational Functions</a>
<br>
<!--Creates a link to the grade 12 Characteristics of Functions page-->
<a class ='subject'  href = "/CharacteristicsOfFunctions12">Characteristics of Functions</a>
<br>
<!--Creates a link to the grade 12 random page-->
<a class = 'subject' href = {{subjects12[RandomNumber2]}}>Random</a>
<script src="script.js"></script>
</html>