<!--Creates the HTML page for Grade 11-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<h1>Grade 11</h1>
<!--Creates a link to the characteristics of functions page-->
<a class ='subject'  href = "/Characteristics">Characteristics of Functions</a>
<br>
<!--Creates a link to the exponential functions page-->
<a class ='subject'  href = "/Exponential">Exponential Functions</a>
<br>
<!--Creates a link to the discrete functions page-->
<a class ='subject'  href = "/Discrete">Discrete Functions</a>
<br>
<!--Creates a link to the trigonometric functions page-->
<a class ='subject'  href = "/Trigonometric">Trigonometric Functions</a>
<br>
<!--Creates a link to the grade 11 random page-->
<a class = 'subject' href = {{subjects11[RandomNumber2]}}>Random</a>
<script src="script.js"></script>
</html>