<!--Creates the HTML page for Grade 10-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<h1>Grade 10</h1>
<!--Creates a link to the quadratic relations page-->
<a class ='subject'  href = "/QuadraticRelations">Quadratic Relations</a>
<br>
<!--Creates a link to the grade 10 analytic geometry page-->
<a class ='subject'  href = "/AnalyticGeometry(10)">Analytic Geometry</a>
<br>
<!--Creates a link to the trigonometry page-->
<a class ='subject'  href = "/Trigonometry">Trigonometry</a>
<br>
<!--Creates a link to the grade 10 random page-->
<a class = 'subject' href = {{subjects10[RandomNumber3]}}>Random</a>
<script src="script.js"></script>
</html>