<!--Creates the HTML page for Grade 9-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<h1>Grade 9</h1>
<!--Creates a link to the number sense and algebra page-->
<a class ='subject' href = "/NumberSenseAndAlgebra">Number Sense and Algebra</a>
<br>
<!--Creates a link to the linear relations page-->
<a class = 'subject' href = "/LinearRelations">Linear Relations</a>
<br>
<!--Creates a link to the grade 9 analytic geometry page-->
<a class = 'subject' href = "/AnalyticGeometry(9)">Analytic Geometry</a>
<br>
<!--Creates a link to the grade 10 measurements and geometry page-->
<a class = 'subject' href = "/MeasurementsAndGeometry(9)">Measurements and Geometry</a>
<br>
<!--Creates a link to the grade 9 random page-->
<a class = 'subject' href = {{subjects9[RandomNumber2]}}>Random</a>
<script src="script.js"></script>
</html>