<!--Creates the html file for the home page-->
<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="css/style.css">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>SimpliMath</title>
  </head>
    <h1>SimpliMath</h1>
    <img class = "Logo" src="views/pictures/SimpliMath.png"></img>
    <h2>Grades</h2>
      <!--Creates a link to the grade 9 webpage-->
      <a class = 'grade' href = "/grade9">Grade 9</a>
      <br>
      <!--Creates a link to the grade 10 webpage-->
      <a class = 'grade' href = "/grade10">Grade 10</a>
      <br>
      <!--Creates a link to the grade 11 webpage-->
      <a class = 'grade' href = "/grade11">Grade 11</a>
      <br>
      <!--Creates a link to the grade 12 webpage-->
      <a class = 'grade' href = "/grade12">Grade 12</a>
      <br>
      <!--Creates a link to a random subject page-->
      <a class = 'grade' href = {{subjects[RandomNumber]}}>Random</a>
      <br>
    <script src="script.js"></script>
  </body>
</html>